
.about-container {
    padding: 20px;
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
    font-size: 17px;
  }
    
  .Note {
    font-style: italic;
    color: #777;
    margin-top: 30px; 
    text-align: left;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  }
  