.container {
  text-align: center;
  background-color: #f3f3f3;
  padding: 30px;
}

.header {
  font-size: 44px;
  color: #333;
}

.book-list-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.book-list {
  width: 88%;
  border: 1px solid #1818183a;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.279);
}

.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
  margin: 8px 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-group-item h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.list-group-item i {
  font-size: 24px;
  margin-bottom: 8px;
  color: #007bff;
}

.list-group-item button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.book-details {
  text-align: left;
  margin-left: 300px;
  max-width: 850px;
  padding: 20px;
  border: 1px solid #797878;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.578);
}

.book-details h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.book-details p {
  margin: 0;
  color: #4f4e4e;
}

.book-details button {
  background-color: #007bffe8;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.book-details button:hover {
  background-color: #0056b3;
}

.list-group-item span {
  font-size: 46px;
}